
header {
    padding: 50px;
    text-align: left;
    background: #050f01;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    border-style: dotted;
  }

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #61f8f8;
    justify-content: flex-end;
    
  }

ul a {
    color: #07121c;
    padding: 20px 20px;
    text-decoration: underline;
   
  }

  body {
    font-family: serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start; 
  }

  h2 {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: start;
    
  }

  .me img {
    text-align: end;
    max-height: fit-content;
    
  }
  
 p {
    color: darkslateblue;
    text-align: end;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .me {
    text-align: end;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#69ca9d;
    box-sizing: border-box;
    border-style: dotted;
    

  }

  #te {
    flex: 1;
    flex-direction: column;
    background-color: darkblue;
    padding: 20px;
    display: flex;
    float: left;
  
    
  }

#footer {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  box-sizing: border-box;
  list-style: none;
}

