body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start; 
}

header {
    width: 100%;
    padding: 50px;
    text-align: center;
    background: #050f01;
    color: #fff;
    box-sizing: border-box;
    border-style: dotted;
    border-radius: 5px;
  }

h1::after {
  content: 'Borroel';
  color:rgb(118, 215, 160);
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #61f8f8;
    justify-content: flex-end;
    
  }

ul a {
    color: #07121c;
    padding: 20px 20px;
    text-decoration: underline;
   
  }

 * h2 {
    color: white;
    padding: 4px 20px;
    text-align: start;
    
  }




  #te {
    flex: 1;
    background-color: rgb(2, 2, 19);
    padding: 20px;
    display: flex;
    float: left;
    box-sizing: border-box;

    border: #4eba27;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 0;
    margin-right: 5px;
   
    text-align: end;
    padding: 50px, 5px;
    height: 700px;
   border-radius: 5px;
    border-style: dotted;
    
  
  }


  

  #te img {
   width: 200px;
    margin: auto;
   position: static;
    display: block;
    justify-content: left;
    
  }

  
  
 p {
    color: rgb(139, 61, 97);
    text-align: start;
    justify-content: center;
    display: block;
  }

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
  }



  .me {
    text-align: end;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 50px;
    height: 300px;
    background-color:#69ca9d;
    box-sizing: border-box;
    border-style: dotted;
    border-radius: 5px;
    

  }

  .me img {
    width: 200px;
    margin: auto;
   position: relative;
   left: 20%;
   bottom: 80%;
    display: block;
  }


#footer {
  display: block;
  
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  box-sizing: border-box;
}

#footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

@media screen and (max-width: 768px) {
 main, nav, h1, h2 {
  flex-direction: column;
 }
}